{
   "backup_location": "/home/postgres/pghoard",
   "backup_sites":{
   {{if exists "/self/stack/environment_name"}}
      "{{getv "/self/stack/environment_name"}}_{{getv "/self/stack/name"}}":{
   {{else}}
      "{{getenv "HOSTNAME"}}":{
   {{end}}
         "active_backup_mode": "{{getenv "PGHOARD_ACTIVE_BACKUP_MODE"}}",
         "basebackup_count": {{getenv "PGHOARD_BASEBACKUP_COUNT"}},
         "basebackup_interval_hours": {{getenv "PGHOARD_BASEBACKUP_INTERVAL_HOURS"}},
         "basebackup_mode": "pipe",
         "nodes":[
            {
               "host":"{{getenv "PG_HOST"}}",
               "port":"{{getenv "PG_PORT"}}",
               "password":"{{getenv "PG_PASSWORD"}}",
               "user":"{{getenv "PG_USER"}}",
               "slot": "pghoard"
            }
         ],
         "object_storage":{
         {{$storage_type := getenv "PGHOARD_STORAGE_TYPE"}}
         {{if eq $storage_type "local"}}
            "storage_type": "local",
            "directory": "{{getenv "PGHOARD_DIRECTORY"}}"
         {{else if eq $storage_type "s3"}}
            "storage_type": "s3",
            "aws_access_key_id":"{{getenv "AWS_ACCESS_KEY_ID"}}",
            "aws_secret_access_key":"{{getenv "AWS_SECRET_ACCESS_KEY"}}",
            "region": "{{getenv "AWS_DEFAULT_REGION"}}",
            {{if getenv "AWS_HOST"}}
            "host": "{{getenv "AWS_HOST"}}",
            {{end}}
            {{if getenv "AWS_PORT"}}
            "port": {{getenv "AWS_PORT"}},
            {{end}}
            {{if getenv "AWS_IS_SECURE"}}
            "is_secure": "{{getenv "AWS_IS_SECURE"}}",
            {{end}}
            "bucket_name":"{{getenv "AWS_BUCKETNAME"}}"
         {{else if eq $storage_type "swift"}}
            "storage_type": "swift",
            "user":"{{getenv "OS_USERNAME"}}",
            "key":"{{getenv "OS_PASSWORD"}}",
            "auth_url":"{{getenv "OS_AUTH_URL"}}",
            "container_name":"{{getenv "OS_CONTAINER_NAME"}}",
            {{if getenv "OS_IDENTITY_API_VERSION"}}
            "auth_version":"{{getenv "OS_IDENTITY_API_VERSION"}}.0",
            {{end}}
            {{if getenv "OS_TENANT_NAME"}}
            "tenant_name":"{{getenv "OS_TENANT_NAME"}}",
            {{end}}
            {{if getenv "OS_REGION_NAME"}}
            "region_name":"{{getenv "OS_REGION_NAME"}}",
            {{end}}
            {{if getenv "OS_USER_DOMAIN_NAME"}}
            "user_domain_name":"{{getenv "OS_USER_DOMAIN_NAME"}}",
            {{end}}
            {{if getenv "OS_TENANT_ID"}}
            "tenant_id":"{{getenv "OS_TENANT_ID"}}",
            {{end}}
            {{if getenv "OS_PROJECT_ID"}}
            "project_id":"{{getenv "OS_PROJECT_ID"}}",
            {{end}}
            {{if getenv "OS_PROJECT_NAME"}}
            "project_name":"{{getenv "OS_PROJECT_NAME"}}",
            {{end}}
            {{if getenv "OS_PROJECT_DOMAIN_ID"}}
            "project_domain_id":"{{getenv "OS_PROJECT_DOMAIN_ID"}}",
            {{end}}
            "segment_size":5368709120
         {{end}}
         },
         "pg_data_directory": "/home/postgres/restore",
         "pg_xlog_directory": "/home/postgres/restore/pg_xlog"
      }
   },
   "http_address": "127.0.0.1",
   "http_port": 16000,
   "log_level": "{{getenv "PGHOARD_LOG_LEVEL"}}",
   {{if getenv "PGHOARD_STATSD_ADDRESS"}}
   "statsd": {
     "host": "{{getenv "PGHOARD_STATSD_ADDRESS"}}",
     "port": {{getenv "PGHOARD_STATSD_PORT"}},
     "format": "{{getenv "PGHOARD_STATSD_FORMAT"}}"
   },
   {{end}}
   "syslog": false,
   "syslog_address": "/dev/log",
   "syslog_facility": "local2"
}
