{
   "backup_location": "/home/postgres/pghoard",
   "backup_sites":{
   {{if exists "/self/stack/environment_name"}}
      "{{getv "/self/stack/environment_name"}}_{{getv "/self/stack/name"}}":{
   {{else}}
      "{{getenv "HOSTNAME"}}":{
   {{end}}
         "active_backup_mode": "{{getenv "PGHOARD_ACTIVE_BACKUP_MODE"}}",
         "basebackup_count": {{getenv "PGHOARD_BASEBACKUP_COUNT"}},
         "basebackup_interval_hours": {{getenv "PGHOARD_BASEBACKUP_INTERVAL_HOURS"}},
         "nodes":[
            {
               "host":"{{getenv "PG_HOST"}}",
               "port":"{{getenv "PG_PORT"}}",
               "password":"{{getenv "PG_PASSWORD"}}",
               "user":"{{getenv "PG_USER"}}",
               "slot": "pghoard"
            }
         ],
         "object_storage":{
         {{$storage_type := getenv "PGHOARD_STORAGE_TYPE"}}
         {{if eq $storage_type "local"}}
            "storage_type": "local",
            "directory": "{{getenv "PGHOARD_DIRECTORY"}}"
         {{else if eq $storage_type "s3"}}
            "storage_type": "s3",
            "aws_access_key_id":"{{getenv "AWS_ACCESS_KEY_ID"}}",
            "aws_secret_access_key":"{{getenv "AWS_SECRET_ACCESS_KEY"}}",
            "bucket_name":"{{getenv "AWS_BUCKETNAME"}}",
            "region": "{{getenv "AWS_DEFAULT_REGION"}}"
         {{else if eq $storage_type "swift"}}
            "storage_type": "swift",
            "user":"{{getenv "OS_USERNAME"}}",
            "key":"{{getenv "OS_PASSWORD"}}",
            "auth_url":"{{getenv "OS_AUTH_URL"}}",
            "segment_size":5368709120,
            "container_name":"{{getenv "OS_CONTAINER_NAME"}}",
            {{if getenv "OS_REGION_NAME"}}
            "region_name":"{{getenv "OS_REGION_NAME"}}",
            {{end}}
            "tenant_name":"{{getenv "OS_TENANT_NAME"}}"
         {{end}}
         },
         "pg_data_directory": "/home/postgres/restore",
         "pg_xlog_directory": "/home/postgres/restore/pg_xlog"
      }
   },
   "http_address": "127.0.0.1",
   "http_port": 16000,
   "log_level": "{{getenv "PGHOARD_LOG_LEVEL"}}",
   "syslog": false,
   "syslog_address": "/dev/log",
   "syslog_facility": "local2"
}
